body{
  background-color: ivory;
  color: black;
}

#content{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 30px;
}

#logo{

}

header {
  grid-column-start: 1;
  grid-column-end: last;
  background-color: #444444;
  color: white;
  text-align: center;
}

#hero {
  grid-column-start: 2;
  grid-column-end: 11;
}